<form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">
    <input type="file" name="eaterPic" />
    <input type="submit" value="Upload Image" name="submit">
    <span id = "status"></span>
    </form>
    <!-- <script>
        $(document).ready(function() {
      
           $('#uploadForm').submit(function() {
              $("#status").empty().text("File is uploading...");
              $(this).ajaxSubmit({
      
                  error: function(xhr) {
              status('Error: ' + xhr.status);
              console('error')
                  },
      
                  success: function(response) {
              $("#status").empty().text(response);
                      console.log(response);
                  }
          });
              //Very important line, it disable the page refresh.
          return false;
          });    
      });
      </script> -->
<!-- _________________________________________________________________________________________________ -->
<form action="/eaterDataForm" method="post">
    <div class="modal-body" style="color: darkgray;font-family: 'Gotham Rounded Bold';font-weight: 100;">
        <!-- <div id="header-form"><p style="text-align: center;font-size: 200%;background: #00ff89;
            border-radius: 15px 15px 0 0;padding: 6px;border-bottom: 0;">Eater Data</p></div> -->
        <div class="form-group">
	         <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <!-- insert image 
                        <img src="" height="200" alt="Image preview..." >
                        <p><input type="file" onchange="previewFile()"accept="image/png, image/jpeg" id="importImg"> 
                        <input class="favorite styled"type="button"value="delete photo" id="deleteImg"> </p>
                        
                        <input class="favorite styled"type="button"value="delete photo">    
                        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                        ********  ajax -->
                        <!--_________________________________________________________________________________________ -->

                        
                         <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  -->
                          <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>  -->
                          
                    <!-- _________________________________________________________________________________________________ -->
                    <!--input cerdit-card  -->
                    <p>
                    <label for="CREDIT-NUMBER" style="font-weight: bold;color: #00FF89">CREDIT/DEBIT CARD NUMBER</label>
                    <input  type="number"  class="form-control eaterInfo" name="Cardnumber" placeholder="card must have  16  number"required >                    
                    <!-- card must have  16  number --></p>
                    
                    <label style="font-weight: bold;color: #00FF89">HOLDER NAME</label>
                    <input  type="text" class="form-control eaterInfo" name="CardName" placeholder="CardName" required>
                            <div class="row" style="border-bottom: 1px solid lightgray;">
                                <div class="column" style="padding:8px">
                                        <p><label style="font-weight: bold;color: #00FF89">EXPIRATION</label></p>
                                        <p><select name="expireMonth"required>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                            <select name="expireYear"required>
                                                <option value="2025">2025</option>
                                                <option value="2024">2024</option>
                                                <option value="2023">2023</option>
                                                <option value="2022">2022</option>
                                                <option value="2021">2021</option>
                                                <option value="2020">2020</option>
                                                <option value="2019">2019</option>
                                                <option value="2018">2018</option>
                                            </select></p>
                                </div>
                                <div class="column"style="padding:8px" >
                                            <p><label style="font-weight: bold;color: #00FF89"> CVV </label>
                                                <input  type="number" class="form-control eaterInfo" name="CVV" min="000" max="999" placeholder="cvv" required></p>
                                                <!-- edit number of cvv to under 999 -->
                                </div>
                            </div>
                            <!-- css under line -->
                            
                            
                            <div class="row" class="billing">
                                <div class="column">
                                        <label style="font-weight: bold;color: #00FF89" > BILLING ADDRESS         </label>
                                </div>
                                <div class="column">
                                    <input type="checkbox" name="checkbox" value="checkbox"> SAME AS ADDRESS<br>
                                </div>
                                    <!-- check  -->
                                    <!-- <input   class="form-control box"  name="BILLING-ADDRESS" placeholder="BILLING-ADDRESS" required> -->
                                    <textarea class="form-control box"  name="BillingAddress" placeholder="BILLING-ADDRESS" required></textarea>
                            </div>
                            
              </div> 
               <!--___________________________________________________________________________________________________________________________________  -->
                    <div class="col-lg-8 col-sm-12">
                                <div class="row">
                                    <div class="column">
                                        <label style="font-weight: bold;color: #00FF89">FIRSTNAME</label>
                                        <input  type="text" class="form-control eaterInfo" name="firstname" placeholder="Firstname" required>
                                    </div>
                                    <div class="column">
                                        <label style="font-weight: bold;color: #00FF89">LASTNAME</label>
                                        <input  type="text"class="form-control eaterInfo" name="lastname" placeholder="Lastname" required>
                                    </div>
                                </div>
                                <div>
                                    <label style="font-weight: bold;color: #00FF89">PHONE</label>
                                    <input   class="form-control" type="number"  id="eater-phone" name="phone" placeholder="Phone"  required>
                                    <!-- phone must be 10 number -->
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <label style="font-weight: bold;color: #00FF89;">GENDER</label>
                                        <input   class="form-control eaterInfo" name="gender" name="gender" placeholder="Gender"required>
                                    </div>
                                    <div class="column">
                                        <p><label style="font-weight: bold;color: #00FF89">BIRTHDAY</label></p>
                                        <input type="date"  name="birthDay" value="2018-07-22"  min="1980-01-01" max="2018-12-31"required>
                                    </div>
                                </div>
                                <div style="margin-bottom: 10px">
                                <label style="font-weight: bold;color: #00FF89">ADDRESS</label>
                                
                                <!-- <input   class="form-control box"  name="ADDRESS" placeholder="Address" required> -->
                                <textarea class="form-control box"  name="ADDRESS" placeholder="Address" required></textarea>
                                 <!-- css under line -->
                                </div>
                                <div id="mail-box">
                                            <label for="emailToVerify"style="color: #00FF89">Email address</label>
                                            <input style="border-radius: 20px; border: none;" type="email" class="form-control" id="emailToVerify" name="email" value=<%- user.email.toUpperCase() %> readonly>
                                            <label style="font-weight: bold;color: #00FF89"> PASSWORD</label>
                                            <input  type="password" name="password" min="6" required class="form-control eaterPassword"  required> 
                                </div>
                                <div>
                                    <button class="modal-footer" type="submit" id="uData-foot" >
                                            <div><i data-feather="log-in" class="login-icon"></i>  SUBMIT PROFILE </div>
                                        </button>
                                </div>
                    </div>

		       

	        </div>
        </div>
    



    </div>
    
</form>

