<form action="/" method="post">
    <div class="modal-body" style="color: darkgray;font-family: 'Kanit'">
        <div id="header-form"><p style="text-align: center;font-size: 200%">Eater Data</p></div>
        


        <div class="form-group">
	         <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <!-- insert image -->
                    <img src="" height="200" alt="Image preview...">
                    <p><input type="file" onchange="previewFile()"accept="image/png, image/jpeg"><br>
                    <input class="favorite styled"type="button"value="delete photo"> </p>
                    <!-- newwwww -->
                    <!-- <input class="favorite styled"type="button"value="delete photo">    
                    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"> -->
                    <!-- ******** -->
                    <p>
                    <label for="CREDIT-NUMBER" style="font-weight: bold;color: #00FF89">CREDIT/DEBIT CARD NUMBER</label>
                    <input  type="number"  class="form-control" id="eater" name="CREDIT-NUMBER"min="16" placeholder="card must have  16  number"required >                    
                    <!-- card must have  16  number --></p>
                    
                    <label style="font-weight: bold;color: #00FF89">HOLDER NAME</label>
                    <input  class="form-control" id="eater" name="CREDIT-NAME" placeholder="CREDIT-NAME" required>
                            <div class="row">
                                <div class="column" style="padding:8px">
                                        <p><label style="font-weight: bold;color: #00FF89">EXPIRATION</label></p>
                                        <p><select name="expire-month"required>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                            <select name="expire-year"required>
                                                <option value="2025">2025</option>
                                                <option value="2024">2024</option>
                                                <option value="2023">2023</option>
                                                <option value="2022">2022</option>
                                                <option value="2021">2021</option>
                                                <option value="2020">2020</option>
                                                <option value="2019">2019</option>
                                                <option value="2018">2018</option>
                                            </select></p>
                                </div>
                                <div class="column"style="padding:8px" >
                                            <p><label style="font-weight: bold;color: #00FF89"> CVV </label>
                                                <input  type="number" class="form-control" id="eater" name="CVV" min="000" max="999" placeholder="cvv" required></p>
                                                <!-- edit number of cvv to under 999 -->
                                </div>
                            </div>
                            <!-- css under line -->
                            
                            
                            <div class="row" id="billing">
                                <div class="column">
                                        <label style="font-weight: bold;color: #00FF89" > BILLING ADDRESS         </label>
                                </div>
                                <div class="column">
                                    <input type="checkbox" name="checkbox" value="checkbox"> SAME AS ADDRESS<br>
                                </div>
                                    <!-- check  -->
                                    <input   class="form-control" id="box" name="BILLING-ADDRESS" placeholder="BILLING-ADDRESS" required>
                            </div>
                            
		      </div>  
                    <div class="col-lg-8 col-sm-12">
                                <div class="row">
                                    <div class="column">
                                        <label style="font-weight: bold;color: #00FF89">FIRSTNAME</label>
                                        <input  type="text" class="form-control" id="eater" name="name" placeholder="firstname" required>
                                    </div>
                                    <div class="column">
                                        <label style="font-weight: bold;color: #00FF89">LASTNAME</label>
                                        <input  type="text"class="form-control" id="eater" name="lastname" placeholder="lastname" required>
                                    </div>
                                </div>
                                <div>
                                    <label style="font-weight: bold;color: #00FF89">PHONE</label>
                                    <input   class="form-control" type="number"  id="eater" name="phone" placeholder="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                                    <!-- phone must be 10 number -->
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <label style="font-weight: bold;color: #00FF89;">GENDER</label>
                                        <input   class="form-control"  id="eater" name="gender" name="name" placeholder="gender"required>
                                    </div>
                                    <div class="column">
                                        <p><label style="font-weight: bold;color: #00FF89">BIRTHDAY</label></p>
                                        <input type="date" id="eater" name="birth-daybr" value="2018-07-22"  min="1980-01-01" max="2018-12-31"required>
                                    </div>
                                </div>
                                <div style="margin-bottom: 10px">
                                <label style="font-weight: bold;color: #00FF89">ADDRESS</label>
                                
                                <input   class="form-control" id="box" name="ADDRESS" placeholder="ADDRESS" required>
                                 <!-- css under line -->
                                </div>
                                <div id="mail-box">
                                            <label for="emailToVerify"style="color: #00FF89">Email address</label>
                                            <input style="border-radius: 20px; border: none;" type="email" class="form-control" id="emailToVerify" name="email" value=<%- user.email.toUpperCase() %> readonly>
                                            <label style="font-weight: bold;color: #00FF89"> PASSWORD</label>
                                            <input  type="password" id="eater" name="password" min="6" required class="form-control" name="password" required> 
                                </div>
                                <div>
                                    <button class="modal-footer" type="submit">
                                            <div><i data-feather="log-in" class="login-icon"></i>  SUBMIT PROFILE </div>
                                        </button>
                                </div>
                    </div>

		       

	        </div>
        </div>
    



    </div>
    
</form>



