<form action="/" method="post">
    <div class="modal-body" style="color: darkgray;">
        <p style="text-align: center;">Eater Data</p>
        <div class="form-group">
            
        </div>
    </div>
    <button class="modal-footer" type="submit">
        <div><i data-feather="log-in" class="login-icon"></i>  Submit</div>
    </button>
</form>