
            </div>
            
        </div>
        <script>
            feather.replace({'width': '32px','height': '32px','stroke-width': '1'})
        </script> 
        <script src="js/interact.js"></script>
        <%if(user){%>
        <script>
            user = <%- JSON.stringify(user) %>
        </script>
        <% } %>    

        <script src="https://cdn.sobekrepository.org/includes/gmaps-markerwithlabel/1.9.1/gmaps-markerwithlabel-1.9.1.min.js"></script>
    </body>
</html>