<form action="/" method="post">
    <div class="modal-body" style="color: darkgray;">
        <p style="text-align: center;">Hunter Data</p>
        <p>Sorry, this module for assigning the hunter data is not completely implemented</p>
        <p>Responsible: Nithimet Ghunasayan </p>
    </div>
</form>