<div id="interactBoard">
    <%if(user){%>
        <script>
            user = <%- JSON.stringify(user) %>
        </script>
    <%}%>
</div>
<div id="interact-footer">
    <button class="interact-button interact-map">
        <i style="width: 23px;height: 23px; vertical-align: middle;" data-feather='map'></i>
        <span style="vertical-align: top;padding-left: 7px;">เปิดดูเส้นทาง</span>
    </button>
    <div class="interact-general-nav"><i data-feather='chevrons-up'></i></div>
</div>

<template id="order-summary">
    <div class="container" style="
    background: white;
    width: 90%;
    border-radius: 15px;">
        <div class="d-flex justify-content-center" style="
        padding: 10px 0;
        border-bottom: 1px solid lightgray;
        color: black;
        font-size: larger;
        ">
            <span>รายการสั่งซื้อ: </span>
            <span id="orderId" style="
            color: #00ff89;
            padding-left: 10px;">000000</span>
        </div>
        <div class="d-flex" style="padding-bottom: 15px;">
            <div class="mr-auto p-2" style="font-size: large">a</div>
            <div class="p-2">
                <input type="number" style="
                background: #fafafa!important;
                border: 2px solid!important;
                border-radius: 15px!important;
                box-shadow: inset 0 2px 6px 0px grey;
                height: 32px;
                margin: auto;
                width: 50px;
                " readonly></input>
            </div>
            <div class="p-2">
                <input type="number" style="
                background: #fafafa!important;
                border: 2px solid!important;
                border-radius: 15px!important;
                box-shadow: inset 0 2px 6px 0px grey;
                height: 32px;
                margin: auto;
                width: 50px;
                " readonly></input>
            </div>  
        </div>
        <div class="d-flex justify-content-center" style="
        padding: 13px 0;
        border-top: 1px solid lightgray;
        color: black;
        font-size: larger;
        ">
        </div>
    </div>
</template>

<template id="list-item">
    <div class="d-flex" style="padding-bottom: 15px;">
        <div class="mr-auto p-2" style="font-size: large">a</div>
        <div class="p-2">
            <input type="number" style="
            background: #fafafa!important;
            border: 2px solid!important;
            border-radius: 15px!important;
            box-shadow: inset 0 2px 6px 0px grey;
            height: 32px;
            margin: auto;
            width: 50px;
            " readonly></input>
        </div>
        <div class="p-2">
            <input type="number" style="
            background: #fafafa!important;
            border: 2px solid!important;
            border-radius: 15px!important;
            box-shadow: inset 0 2px 6px 0px grey;
            height: 32px;
            margin: auto;
            width: 50px;
            " readonly></input>
        </div>
    </div>
</template>