<div id="interactBoard">
    <%if(user){%>
        <script>
            user = <%- JSON.stringify(user) %>
        </script>
    <%}%>
    
    <div class="container" id="createFood">
        <h5 style="color:black">สร้างรายการคำสั่งซื้อ</h5>
        <div>
            <input id="inputFood" type="text" >
            <span><i id="addBot" data-feather="plus-circle"></i></span> 
        </div>
        <div id="showFood">
        </div>
    </div>

</div>