<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-login" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">เข้าสู่ระบบ</h5>
        <i data-dismiss="modal" aria-label="Close" data-feather="x" class="close"></i>
      </div>
      <form action="/login" method="post">
      <div class="modal-body">
        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
        </div>
      </div>
      <button class="modal-footer" type="submit">
        <div><i data-feather="log-in" class="login-icon"></i>  Login</div>
      </button>
      </form>
    </div>
  </div>
</div>