<div class="menubar d-flex justify-content-between">
    <div id="sidebarCollapse" class="menu-element"><i class="menuicon" data-feather="menu"></i></div>
    <div class="menu-element" id="logo">bingme</div>
    <div class="menu-element">
        <%if(user){ console.log(user);%>
            <%if(user.userDataId==!null || user.isActivated==false){%>
                <i id="searchCollapse" class="menuicon active not-allow" data-feather="search"></i>
            <%}else if(user.role=='Hunter'){%>
                <i id="searchCollapse" class="menuicon active allow" data-feather="crosshair"></i>
            <%}else if(user.role=='Eater'){%>
                <i id="searchCollapse" class="menuicon active allow" data-feather="search"></i>
            <%}%>
        <%}else{%>
            <i id="searchCollapse" class="menuicon active not-login" data-feather="search"></i>
        <%}%>
        <i id="searchDismiss" class="menuicon" data-feather="x"></i>
    </div>
</div>