<div id="sidebar">
    <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
    </div>
    <p class="sidebar-header">
        Sidebar Menu
    </p>
    <div class="sidebar-element" data-toggle="modal" data-target="#registerModal"><p>สมัครสมาชิก</p></div>
    <div class="sidebar-element" data-toggle="modal" data-target="#loginModal"><p>เข้าสู่ระบบ</p></div>
    <div class="sidebar-element"><p>ติดต่อเรา</p></div>
</div>
<div class="overlay"></div>