<div id="sidebar">
    <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
    </div>
    <p class="sidebar-header">
        Sidebar Menu
    </p>
        <form id="logoutForm" action="/logout" method="post">   
        </form>
    <%if(user){%>
    <div id='logoutBtn' class="sidebar-element"><p onclick="logout()">ออกจากระบบ</p></div>
    <%}else{%>
    <button id='registerBtn' style="border: 0px; width: 100%; padding: 0px;" class="sidebar-element" data-toggle="modal" data-target="#registerModal"><p>สมัครสมาชิก</p></button>
    <button id='loginBtn' style="border: 0px; width: 100%; padding: 0px;" class="sidebar-element" data-toggle="modal" data-target="#loginModal"><p>เข้าสู่ระบบ</p></button>
    <%}%>
    <button id='contactUsBtn' style="border: 0px; width: 100%; padding: 0px;" class="sidebar-element" data-toggle="modal" data-target="#contactUs"><p>ติดต่อเรา</p></button>
</div>
<div class="overlay"></div>

<script>
    const logout = () =>{
        $('#logoutForm').submit();
    }
</script>