<div id="sidebar">
    <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
    </div>
    <p class="sidebar-header">
        Sidebar Menu
    </p>
        <form id="logoutForm" action="/logout" method="post">   
        </form>
    <%if(user){%>
    <div id='logoutBtn' class="sidebar-element"><p onclick="logout()">ออกจากระบบ</p></div>
    <%}else{%>
    <div id='registerBtn' class="sidebar-element" data-toggle="modal" data-target="#registerModal"><p>สมัครสมาชิก</p></div>
    <div id='loginBtn' class="sidebar-element" data-toggle="modal" data-target="#loginModal"><p>เข้าสู่ระบบ</p></div>
    <%}%>
    <div class="sidebar-element"><p>ติดต่อเรา</p></div>
</div>
<div class="overlay"></div>

<script>
    const logout = () =>{
        $('#logoutForm').submit();
    }
</script>