<div class='modal show' id='userDataModal' role='dialog'>
    <div class='modal-dialog'>
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title">MEMBER PROFILE</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form action="/" method="post">
                <div class="modal-body" style="color: darkgray;">
                    <p style="text-align: center;">Please fill in this form</p>
                    <div class="form-group">
                        <label for="emailToVerify">FULLNAME</label>
                        <input style="border-radius: 20px; border: none;"  class="form-control" id="emailToVerify" name="email" value=<%- user.email.toUpperCase() %> readonly>
                        <label for="emailToVerify">PHONE</label>
                        <input style="border-radius: 20px; border: none;"  class="form-control" id="emailToVerify" name="email" value=<%- user.email.toUpperCase() %> readonly>
                        <label for="emailToVerify">GENDER</label>
                        <input style="border-radius: 20px; border: none;"  class="form-control" id="emailToVerify" name="email" value=<%- user.email.toUpperCase() %> readonly>
                    </div>
                </div>
                <button class="modal-footer" type="submit">
                    <div><i data-feather="log-in" class="login-icon"></i>  Submit</div>
                </button>
            </form>
        </div>
    </div>
</div>

<% if(user) {%>
    <% if(user.userDataId == null) {%>
        <script>
            $(document).ready(function(){
                $('#userDataModal').modal('show');
            });
        </script>
    <%}%>
<%}%>
