<div class='modal show' id='userDataModal' role='dialog'>
    <div class='modal-dialog' style="width: 90%; max-width: 90%">
        <div class="modal-content" >
            <div class="modal-header">

                <h5 class="modal-title">User Information</h5>
                <button type="button" class="close" data-dismiss="modal" style="right: unset; left: 83vw;">&times;</button>
            </div>
            <%if(user){%>
                <%if(user.role=='Eater'){%>
                    <% include eaterDataModal %>
                <%} else if(user.role=='Hunter'){%>
                    <% include hunterDataModal %>
                <%}%>
            <%}%>

        </div>
    </div>
</div>

<% if(user) {%>
    <% if(user.userDataId == null) {%>
        <script>
            $(document).ready(function(){
                $('#userDataModal').modal('show');
            });
        </script>
    <%}%>
<%}%>
