<div class='modal show' id='userDataModal' role='dialog'>
    <div class='modal-dialog' style="width: 80%; max-width: 80%">
        <div class="modal-content" >
            <div class="modal-header d-flex justify-content-between" id="uData-head">

                <h5 class="modal-title p-1 ">User Information</h5>
                <button type="button" class="close p-1" data-dismiss="modal" id="uData-close">&times;</button>
            </div>
            <%if(user){%>
                <%if(user.role=='Eater'){%>
                    <% include eaterDataModal %>
                <%} else if(user.role=='Hunter'){%>
                    <% include hunterDataModal %>
                <%}%>
            <%}%>

        </div>
    </div>
</div>

<% if(user) {%>
    <% if(user.userDataId == null) {%>
        <script>
            $(document).ready(function(){
                $('#userDataModal').modal('show');
            });
        </script>
    <%}%>
<%}%>
