.login-button{
    margin-left: 1rem;
}

.section.row{
    margin-bottom: 2rem;
    /* padding: 0 10px; */
}

.section.row > h4{
    font-size: 6.3vw;
}

@media screen and (min-width: 450px){
    .section.row > h4{
        font-size: 1.5rem;
    }
}
.scrollcard{
    width: 100vw;
    overflow: auto;
    white-space: nowrap;
    padding-top: 5px;
    -webkit-overflow-scrolling: touch;
}
.scrollcard > .card > img{
    vertical-align: top;
    width: 200px;
    height: 120px;
    border-style: none;
    border-radius: 10px;
    filter: blur(1.5px);
    transform: scale(1.05);
}

.scrollcard > .usercard{
    width: 200px;
    border: 1.5px solid #343a40;
}

.scrollcard > .usercard > table{
    text-align: left;
    width: 56%;
    position: absolute;
    top: 22%;
    left: 39%;
}

.scrollcard > .usercard > table > tbody > tr > th{
    font-size: small;
    white-space: normal;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Kanit';
    text-align: center;
}

.scrollcard > .usercard > table > tbody > tr > td{
    padding-top: 5%;
}

.scrollcard > .usercard > #usercard-pic{
    width: 55px;
    height: 55px;
    filter: none;
    border-radius: 10px;
    top: 17%;
    position: absolute;
    left: 7%;
}

.scrollcard > .statcard{
    width: 120px;
    border-radius: 15px;
    background: #00ff894f;
    border: 1.5px solid #00ff89;
    color: #00ff89;
}

.scrollcard > .statcard > p {
    position: absolute;
    top: 46%;
    white-space: normal;
    text-align: right;
    line-height: 1;
    font-size: medium;
    padding-right: 11%;
    padding-bottom: 6%;
    padding-top: 6%;
    color: #212529;
    background: #00ff894f;
}

.scrollcard > .pendingcard{
    border-radius: 15px;
    border: 1.5px solid #d40023;
    background: #d400235c;
    width: 100px;
}

.scrollcard > .pendingcard > div {
    background: #d4002385;
    height: 35px;
    color: white;
    border-bottom: 0.5px solid #d40023;
}

.scrollcard > .pendingcard > .card-icon{
    position: absolute;
    color: #d40023;
    font-size: 20px;
    top: 8px;
    left: 10px;
}
.scrollcard > .pendingcard > #eye{
    color: #212529;
    stroke-width: 1.5;
    top: 2%;
    width: 25px;
    left: 8%;
}
.scrollcard > .pendingcard > #package{
    position: absolute;
    top: 53%;
    left: 61%;
}

.scrollcard > .pendingcard > img{
    width: auto;
    filter: none;
}

.scrollcard > .pendingcard > p{
    position: absolute;
    top: 5%;
    left: 39%;
    white-space: normal;
    text-align: right;
    color: #212529;
    line-height: 1;
    font-size: small;
    width: 50px;
}

.scrollcard > .adcard{
    width: 200px;
    height: 120px;
    /* border: 1px solid #707070; */
    /* filter: drop-shadow(0 0px 1px black); */
}

.scrollcard > .adcard > span{
    position: absolute;
    top: 7%;
    left: 14%;
    color: white;
    text-align: right;
    line-height: 1;
    width: 160px;
    white-space: initial;
    filter: drop-shadow(0 1px 1px black);
}

.section > ol{
    padding: 0;
    width: 100%;
    font-size: 1.5rem;
}



.card{
    display: inline-block;
    background: white;
    color: black;
    height: 85px;
    margin: 0 3px;
    border-radius: 10px;
    overflow: hidden;
    border: none;
}

.list-card{
    overflow: unset;
    height: fit-content;
}

.card > li{
    border-bottom: 1px solid darkgray;
    padding: 10px 15px;
    font-size:initial; 
}

.card > li > table > tbody> tr > th{
    color: #00FF89;
}
.card > li > table > tbody> tr > td{
    font-size: 0.8rem;
    padding: 0;
}

.card > li > svg, span{
    margin: auto 0;
}
.card > li > svg{
    width: 40px;
    height: 40px;
    stroke-width: 2;
}