#interactBoard {
    background: black;
    position: absolute;
    z-index: 96;
    bottom: 100vh;
    display: block;
    width: 100vw;
    height: 100vh;
    padding-top: 55px;
    color: #00FF89;
    transition: all ease-in-out 0.5s;
}

#createFood{
    width: 90%;
    background: white;
    border-radius: 15px;
    text-align: center;
    padding: 13px;
}

#createFood > div > #inputFood{
    border-radius: 10px;
    border: none;
    background: #ebebeb;
    width: 70%;
}

#addBot{
    vertical-align: middle;
    color: black;
    margin-left: 10px;
}

#cancel{
    vertical-align: middle;
    color: black;
    }

#Food{
    color: black;
    text-align: left;
}

#showFood{
    margin: 8px auto;
    width: 60%;
}

.countFood{
    border-radius: 10px;
    border: none;
    background: #ebebeb;
    width: 30px;
    text-align: center;

}

#sendMenu{
    background: #00ff8900;
    width: 90%;
    margin: 20px auto;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    color: #00ff89;
    border: 2px solid #00ff89;
}