#interactBoard {
    overflow-y: scroll;
    background: #222428;
    position: fixed;
    z-index: 96;
    bottom: 100vh;
    display: block;
    width: 100vw;
    height: 100vh;
    padding-top: 55px;
    color: #00FF89;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    padding-bottom: 200px;
}

#createFood{
    width: 90%;
    max-width: 500px;
    background: white;
    border-radius: 15px;
    text-align: center;
    padding: 13px;
}

#createFood > div > #inputFood{
    
    border-radius: 10px;
    border: none;
    background: #ebebeb;
    width: 70%;
}

#addBot{
    vertical-align: middle;
    color: black;
    margin-left: 10px;
}

#cancel{
    vertical-align: middle;
    color: black;
    }

#Food{
    color: black;
    text-align: left;
}

#showFood{
    margin: 8px auto;
    width: 60%;
}

.countFood{
    border-radius: 10px;
    border: none;
    background: #ebebeb;
    width: 30px;
    text-align: center;
    padding: 2px;
}

.interactSubmit{
    background: #00ff8900;
    max-width: 500px;
    width: 90%;
    margin: 20px auto;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    color: white;
    border: 2px solid white;
    transition: all 0.2s ease-in-out ;
    -webkit-transition: all 0.2s ease-in-out ;
}

.user-avatar{
    background: #00ff891c;
    max-width: 200px;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    text-align: left;
    border-radius: 20px;
    color: white;
    border: 2px solid white;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    border: 1.5px solid #00ff89;
    background-color: #00ff890f;
}

.interactSubmit:hover, .interactSubmit:focus{
    background: #f8f9fab0;
    font-weight: bolder;
}

#interact-footer{
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 96;
    bottom: 100vh;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    background: #222428;
    padding-top: 15px;
    box-shadow: 0 0 20px 16px #222428;
}

.interact-button{
    width: 70%;
    height: 40px;
    border: 1px solid #00ff89;
    background-color: #00ff890f;
    position: relative;
    border-radius: 26px;
    color: #00ff89;
    font-weight: bolder;
    max-width: 500px;
}

.interact-general-nav{
    color: #00ff89;
    width: fit-content;
    padding: 10px;
    margin: auto 0;
}

#interactBoard > input{
    background: #fafafa!important;
    border: 2px solid!important;
    border-radius: 15px!important;
}
